.about-section {
  background-image: url("../assets/img/about-bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 150px 0;


  &__container {
    @extend %container;
    display: flex;
  }

  &__info {
    width: 555px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__heading {
    margin-bottom: 25px;
  }

  &__text {
    @include text-style(1.6rem, 400, $text-color);
    line-height: 24px;
  }

  &__achieves {
    position: relative;
    flex-grow: 1;
  }

  &__item {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;

    &--1 {
      top: 0;
      left: 80px;
    }

    &--2 {
      bottom: -135px;
    }

    &--3 {
      box-shadow: 4px 4px 30px rgba(213, 222, 245, 0.58);
      border: 2px dashed $main-color;
      right: -35px;
      top: 43%;
    }
  }

  &__icon {
    margin-bottom: 12px;
  }

  &__item-title {
    @include text-style(4rem, 700, $main-color);
    line-height: 56px;
    margin-bottom: 3px;
  }

  &__item-subtitle {
    @include text-style(2rem, 500, #8987BF);
    //line-height: 36px;
  }
}
