.bitrix-section {
  padding: 100px 0 40px;
  background-image: url("../assets/img/bitrix-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
    @extend %container;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #CECCEC;
  }

  &__btn {
    width: 262px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 30px;
    justify-content: space-between;
  }

  &__item {

  }

  &__name {
    @include text-style(2.4rem, 700, #2E6ADB);
    line-height: 36px;
    margin-bottom: 15px;
  }

  &__text {
    @include text-style(1.6rem, 400, #3D3D3D);
    line-height: 24px;
  }

  @include respond(tab-land) {
    &__btn {
      width: 200px;
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }

  @include respond(phone) {
    &__heading {
      margin-bottom: 20px;
    }

    &__btn {
      width: 260px;
    }

    &__row {
      display: block;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
    }

    &__name {
      @include text-style(2rem, 700, #2E6ADB);
      line-height: 28px;
      margin-bottom: 15px;
    }

    &__text {
      @include text-style(1.4rem, 400, #3D3D3D);
      line-height: 20px;
    }
  }
}
