.input {
  width: 100%;
  display: block;
  background: #FFFFFF;
  border: 1px solid #D8D9EA;
  border-radius: 7px;
  padding: 20px;
  @include text-style(1.6rem, 400, $text-color);

  &--textarea {
    height: 220px;
    resize: none;
  }

  &--error {
    border-color: #e82b2b;
    animation-name: twitch;
    animation-duration: .3s;
  }
}
