.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  right: -120%;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  width: 40%;

  padding: 100px 20px;

  display: none;

  transition: all .3s;

  &--active {
    right: 0;
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 16px;
    height: 16px;
  }

  &__links {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba($text-color, .2);
  }

  &__link {
    @include text-style(1.6rem, 600, #333333);
    text-transform: uppercase;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #F5F8FD;
    box-shadow: 18px 18px 20px #D1D9E6, -18px -18px 20px #FFFFFF;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__call-box {
    margin-bottom: 30px;
  }

  &__phone-text {
    @include text-style(2.4rem, 700, $text-color);
    line-height: 29px;
    margin-bottom: 5px;
    display: block;
  }

  &__call-order {
    @include text-style(1.4rem, 500, #3661D6);
    line-height: 16.5px;
    text-decoration: underline;
  }

  &__mail-box {
    display: flex;
    align-items: center;

    svg {
      margin-right: 14px;
    }
  }

  &__mail-info {
    h6 {
      @include text-style(1.4rem, 700, $text-color);
      line-height: 18px;
      margin-bottom: 5px;
    }

    p {
      @include text-style(1.4rem, 500, $text-color);
    }
  }

  @include respond(tab-land) {
    display: block;
  }

  @include respond(phone) {
    width: 300px;
  }
}
