.tariff-card {

  padding: 28px 30px 33px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 550px;
  border: 2px dashed transparent;


  &--accent {
    border: 2px dashed $main-color;
    border-radius: 7px;
    box-shadow: 0 0 30px rgba(213, 222, 245, 0.58);
  }

  &__icon {
    margin-bottom: 20px;
  }

  &__name {
    @include text-style(2.4rem, 600, $text-color);
    line-height: 36px;
    margin-bottom: 13px;
  }

  &__list {
    padding-left: 25px;
  }
  &__package {
    @include text-style(1.8rem, 600, $text-color);
    line-height: 20px;
    margin-bottom: 13px;
  }

  &__item {
    @include text-style(1.4rem, 400, #8987BF);
    line-height: 18px;
    height: 9vh;
    position: relative;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      background-image: url("../assets/img/icons/circle.png");
      position: absolute;
      left: -25px;
      top: 4px;
    }
  }

  &__price {
    @include text-style(2.4rem, 600, #8987bf);
    line-height: 36px;
    margin-top: 15px;
    margin-bottom: 20px;

    span {
      color: $main-color;
    }
  }

  &__btn {
    width: 100%;
  }

  @include respond(phone) {
    padding: 20px;

    &__icon {
      width: 80px;
      margin-bottom: 0;
    }

    &__name {
      @include text-style(2rem, 600, $text-color);
      line-height: 28px;
      margin-bottom: 13px;
    }

    &__price {
      @include text-style(2rem, 600, #8987bf);
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
}
