.welcome-section {
  height: calc(100vh - 139px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &__container {
    @extend %container;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__heading {
    @include text-style(4.8rem, 700, $text-color);
    line-height: 72px;
    margin-bottom: 15px;

    span {
      color: $main-color;
    }
  }

  &__subtitle {
    @include text-style(1.8rem, 400, $text-color);
    line-height: 27px;
    margin-bottom: 40px;
  }

  &__btn {
    width: 216px;
  }

  &__person {
    position: absolute;
    top: 145px;
    right: 10%;
  }
}
